{{define "yield"}}
<div class="row justify-content-center align-items-center">
  <div class="col-md-4 col-md-offset-4">
    <div class="card">
      <div class="card-header text-white bg-primary">
        <h3>Sign Up Now!</h3>
      </div>
      <div class="card-body">
        {{template "signupForm"}}
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "signupForm"}}
  <form action="/signup" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
{{end}}
